@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

 .section-title{

    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;


}
 .section-title h1{

    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 10px;
    position: relative;



}
 .section-title h1:before{
    content: '';
    left: 0;
    height: 2px;
    right: 20%;
    background-color: #04948c;
    bottom: 0px;
    position: absolute;


}

.text-center{
    text-align: center!important;

}

.text-left{
    text-align: left!important;

}

.text-right{
    text-align: right;

}
/*     **********************************************************************************************************************************************                                                   STYLE HEADER SMART
***************************************************************************************************************************************++++*/
.logo, .logo img{ ;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1140px;
    margin: auto;
}
header{
    position: absolute;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    padding: 0px 15px;
    z-index: 10;
}
header .row{
    justify-content:space-between;
    align-items: center;
}
header .smart-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    position: relative;
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
     color: black;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color:black;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease ;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}
/*     **********************************************************************************************************************************************                                                   STYLE HOME SMART
***************************************************************************************************************************************++++*/
.home{
    min-height: 100vh;
    background-image: url(../img/img-fondos/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
    width: 100%;
    height:600px;
    background-attachment: fixed;
    position: relative;
      color: black;
}
/*
.home:before{
   content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);


}*/

.home .full-screen{

    min-height: 100vh;
}
.home .home-content{

    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid black;
    margin-top: -50px;
}
.home .home-content .block h6{
     color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: black;
    font-size: 65px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}
.home .home-content .block .cv-btn a{
    border-radius: 4px;
     color: black;
    border: 1px solid black;
    padding: 12px 25px;
    text-decoration: none;
    display:inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease ;
    background-color: transparent;

}
.home .home-content .block .cv-btn a:hover{
    background-color: #ffff;
    color: black;

}
/*     **********************************************************************************************************************************************                                                   STYLE SECTION ABOUT SMART
***************************************************************************************************************************************++++*/

.about-smart{
    padding: 100px 15px;
    background: white;



}

.text-uppercase{
    text-transform: uppercase!important;

}

.about-smart .section-title p.small{
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;


}



.about-smart .about-content .img{
    max-width: 33.33%;
    height: auto;
    position: relative;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
/*
.about-smart .about-content .img:before{
   content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);


}
*/
.about-smart .about-content .img .texto-encima{


    position: absolute;
    top: 10px;
    left: 10px;
    width: 98%;
    height: 100%;
    border: 1px solid #04948c;
    color: black;
}



.about-smart .about-content .img .texto-encima h3{
    margin-top: 200px;
    font-size: 37px;
    text-align:center;
}

.about-smart .about-content .img img{
    width: 100%;
    height: 100%
}

.about-smart .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
    height: auto;


}

.about-smart .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: black;
}
.about-smart .about-content .text h6{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: black;
}
.about-smart .about-content .text h6 span{
   color: #04948c ;
}
.about-smart .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;

}

.resumen_ejecutivo{

    width: 100%;


}
.mision-vision{
    margin-top: 18px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.mision-smart{
     width: 50%;
    height: auto;

}



.vision-smart{
     width: 50%;
    height: auto;

}

.mision-smart h4 , .vision-smart h4{
     text-align: center;
}

.mision-smart p , .vision-smart p{
     font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
}
