<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMINISTRADOR</title>
    <link rel="stylesheet" href="css/styleAdmin.css">
    <link rel="stylesheet" href="css/styleAgregarProducto.css">
    <link rel="stylesheet" href="css/styleCrud.css">
</head>
<body>
   <!--Start Cantainers-->

   <section class="Gestion-Empresa">
       <div class="menu">
           <div class="user">
                <div class="titulo-user">
                   <h1>Graficas Riobamba </h1>
                   <h3>Administrador</h3>
               </div>
           </div>
           <div class="menu-gestion">
               <div class="vista-previa">
                      <div class="icon">
                          <img src="img/img-admin/boton1.png" alt="">
                      </div>
                      <div class="boton">
                            <a href="index.html" target="_blank">
                             <button id="btn-vista-Previa" class="btn-vista-Previa">Página Web Cliente</button>
                             </a>
                      </div>
               </div>

               <div class="gestionar-producto">
                      <div class="icon">
                          <img src="img/img-admin/boton3.png" alt="">
                      </div>
                      <div class="boton">
                            <button id="btn-gestionar-producto" class="btn-gestionar-producto"> Agregar Producto</button>
                      </div>
               </div>

               <div class="gestionar-producto">
                      <div class="icon">
                          <img src="img/img-admin/add1.png" alt="">
                      </div>

               </div>
                <div class="gestionar-producto">
                      <div class="icon">
                          <img src="img/img-admin/add2.png" alt="">
                      </div>

               </div>
                <div class="gestionar-producto">
                      <div class="icon">
                          <img src="img/img-admin/add3.png" alt="">
                      </div>

               </div>

               <div class="gestionar-producto">
                      <div class="icon">
                          <img src="img/img-admin/add4.png" alt="">
                      </div>

               </div>


                 <div class="overlay"   id="overlay">
                        <div class="popup" id="popup">
                            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup">
                            <img src="img/img-admin/close.ico" alt="">
                            </a>
                            <h3 >Agregra Nuevo Producto</h3>
                            <div class="formulario">
                            <form action="">
                                <select name="categorias" id="categorias">
                                    <option value="colores">colores</option>
                                     <option value="cuaderno">cuaderno</option>
                                      <option value="hojas">hojas</option>

                                </select>
                                <input  img type="text" name="categoria" id="cat" placeholder="categoría">
                                <input type="text" name="nombre" placeholder="nombre">
                                <input type="text" name="descripcion" placeholder="descripción">
                                <input type="text" name="cantidad" placeholder="cantidad">
                                <input type="text" name="precio" placeholder="precio">
                                 <input type="text" name="imagen" placeholder="imagen">

                                <input href="#" type="button"  value="Agregar Producto" id="boton"  >

                             </form>
                      </div>

                        </div>
                     </div>

           </div>
       </div>
       <div class="container">
            <div class="container-sesion">
               <div class="sesion">
                      <div class="boton-sesion">
                          <button id="btn-cerrar-sesion" class="btn-cerrar-sesion">Cerrar Sesión</button>
                      </div>
                      <div class="container-icon">
                          <div class="icon-sesion">
                              <img src="img/img-admin/user.png" alt="">
                          </div>
                      </div>
               </div>
            </div>
            <div class="container-master" >
                  <div class="container-notificaciones">
                     <div class="notificacion" id="notificacion1">
                         <div class="text-notificacion">
                             <h1>30 </h1>
                             <h3>Nuevos mensajes</h3>

                         </div>
                         <div class="icon-notificacion">
                            <div class="icon">
                                <img src="img/img-admin/notificacion1.png" id="img1" alt="">
                            </div>

                         </div>
                     </div>
                     <div class="notificacion" id="notificacion2" >
                         <div class="text-notificacion">
                             <h1>135 </h1>
                             <h3>Visitantes diarios</h3>

                         </div>
                         <div class="icon-notificacion">
                            <div class="icon">
                                 <img src="img/img-admin/notificacion2.png" alt="">
                            </div>

                         </div>
                     </div>
                     <div class="notificacion" id="notificacion3">
                         <div class="text-notificacion">
                             <h1>90 </h1>
                             <h3>Productos Registrados</h3>

                         </div>
                         <div class="icon-notificacion ">
                            <div class="icon">
                                <img src="img/img-admin/notificacion3.png"  class="hovericons" alt="">
                            </div>

                         </div>


                     </div>

                  </div>

                  <div class="Titulo-Tabla">
                      <h1>PRODUCTOS REGISTRADOS EN EL SISTEMA </h1>
                  </div>
                  <div class="container-tabla">
                     <div class="tabla">
                        <table >
                          <thead>
                           <tr>

                              <th>Nombre </th>
                              <th>Categoría </th>
                              <th>Descripción</th>
                              <th>Cantidad</th>
                              <th>Precio</th>
                              <th>Imagen</th>
                                 <div sec:authorize="isAuthenticated()">
                                            <th>VER</th>
                                            <th>EDITAR</th>
                                            <th>ELIMINAR</th>
                                 </div>


                           </tr>
                        </thead>

                         <tbody>
                                    <tr th:each="producto : ${products}">
                                        <td th:text="${producto.nombre}"> </td>
                                        <td th:text="${producto.categoria}"> </td>
                                        <td th:text="${producto.descripcion}"> </td>
                                        <td th:text="${producto.cantidad}"> </td>
                                        <td th:text="${producto.precio}"> </td>
                                        <td><img th:src="@{/pic/{id}(id=${receta.foto}+.jpg)}" width="80" class="rounded"></td>
                                        <td>
                                        <!-- STAR MODEL VIEW PRODUCT-->

                                         <a  th:attr="data-target='#modalLong'+${producto.codigo}" id="btn-view-producto" class="btn-view-producto"> <img src="img/img-iconCrud/view.png" alt=""></a>

                                         <div class="modal fade" th:id="modalLong+${producto.codigo}" tabindex="-1" role="dialog" aria-labelledby="detalleReceta" aria-hidden="true">
  										 	<div class="modal-dialog" role="document">
  										 	   <!-- STAR POPUD VIEW PRODUCT-->
                                                 <div class="overlay1" id="overlay1">
                                                        <div class="popup1" id="popup21">
                                                            <a href="#" id="btn-cerrar-popup1" class="btn-cerrar-popup1">
                                                            <img src="img/img-admin/close.ico" alt="">
                                                            </a>
                                                            <h3 >DETALLES DEL PRODUCTO</h3>
                                                                   <div class="modal-body">
                                                                        <h4 th:text="${receta.nombre}"> </h4>
                                                                        <h4 th:text="${receta.categoria}"> </h4>
                                                                        <h4 th:text="${receta.descripcion}"> </h4>
                                                                        <h4 th:text="${receta.cantidad}"> </h4>
                                                                        <h4 th:text="${receta.precio}"> </h4>
                                                                        <h4 th:text="${receta.nombre}"> </h4>
                                                                        <p><img th:src="@{/pic/{id}(id=${producto.foto}+.jpg)}" width="240" class="rounded"></p>
                                                                        <p class="text-dark" data-th-utext="${#strings.replace(#strings.escapeXml(receta.preparacion),'&#10;','&lt;br&gt;')}"> </p>
                                                                    </div>

                                                        </div>
                                                     </div>
                                                     <!-- END  POPUD VIEW PRODUCT-->






  											   </div>
										 </div>
                                        </td>

                                        <div sec:authorize="isAuthenticated()">
                                        <td><a th:href="@{/recetas/edit/{id}(id=${receta.id})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>

                                        <td><a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${receta.id }" class="btn btn-primary">
                                            <i class="fas fa-trash-alt ml-2"> </i></a>
                                            <div class="modal modal-warning fade in" th:id="modal-warning+${receta.id}" >
    											<div class="modal-dialog">
        											<div class="modal-content">
            											<div class="modal-header">
                										<h5 class="modal-title text-dark">¿Borrar esta receta?</h5>
                										<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                										<span aria-hidden="true">&times;</span></button>
            											</div>
            											<div class="modal-body">
                											<h3 class="text-dark" th:text="${receta.nombre}"></h3>
            											</div>
            											<div class="modal-footer">
                										<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">No</button>
                										<a type="button" class="btn btn-outline" th:href="@{/recetas/delete/{id}(id=${receta.id})}">
                											<i class="fa fa-check"> </i>&nbsp;Sí</a>
            											</div>
        											</div>
    											</div>
											</div>
                                        </td>
                                        </div>
                                    </tr>
                                </tbody>
                        </table>

                     </div>

                  </div>



            </div>

       </div>
   </section>
<!--End Cantainers-->


  <!--End section profile-->



<!--LINKS JS -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/mainAdmin.js"></script>
    <script src="js/agregarProducto.js"></script>
    <script src="js/crud.js"></script>
</body>
</html>
